Add Your Team!
<br>
<form class="" action="index.html" method="post">

  <select name="loyalty[team_id]">
    <option selected disabled>Choose Your Team</option>
    <optgroup label="Big Ten">
      <option value="1">Michigan State University</option>
      <option value="2">Northwestern University</option>
      <option value="3">Ohio State University</option>
      <option value="4">Penn State University</option>
      <option value="5">Purdue University</option>
      <option value="6">Rutgers</option>
      <option value="7">University of Illinois</option>
      <option value="8">University of Indiana</option>
      <option value="9">University of Iowa</option>
      <option value="10">University of Maryland</option>
      <option value="11">University of Michigan</option>
      <option value="12">University of Minnesota</option>
      <option value="13">University of Nebraska</option>
      <option value="14">University of Wisconsin</option>
    </optgroup>
    <optgroup label="MLB">
      <option value="15">Arizona Diamondbacks</option>
      <option value="16">Atlanta Braves</option>
      <option value="17">Baltimore Orioles</option>
      <option value="18">Boston Red Sox</option>
      <option value="19">Chicago Cubs</option>
      <option value="20">Chicago White Sox</option>
      <option value="21">Cinncinnati Reds</option>
      <option value="22">Cleveland Indians</option>
      <option value="23">Colorado Rockies</option>
      <option value="24">Detroit Tigers</option>
      <option value="25">Houston Astros</option>
      <option value="26">Kansas City Royals</option>
      <option value="27">Los Angeles Angels</option>
      <option value="28">Los Angeles Dodgers</option>
      <option value="29">Miami Marlins</option>
      <option value="30">Milwaukee Brewers</option>
      <option value="31">Minnesota Twins</option>
      <option value="32">New York Mets</option>
      <option value="33">New York Yankees</option>
      <option value="34">Oakland Athletics</option>
      <option value="35">Philadelphia Phillies</option>
      <option value="36">Pittsburgh Pirates</option>
      <option value="37">San Diego Padres</option>
      <option value="38">San Francisco Giants</option>
      <option value="39">Seattle Mariners</option>
      <option value="40">St. Louis Cardinals</option>
      <option value="41">Tampa Bay Rays</option>
      <option value="42">Texas Rangers</option>
      <option value="43">Toronto Blue Jays</option>
      <option value="44">Washington Nationals</option>
    </optgroup>
    <optgroup label="NFL">
      <option value="45">Arizona Cardinals</option>
      <option value="46">Atlanta Falcons</option>
      <option value="47">Baltimore Ravens</option>
      <option value="48">Buffalo Bills</option>
      <option value="49">Carolina Panthers</option>
      <option value="50">Chicago Bears</option>
      <option value="51">Cincinnati Bengals</option>
      <option value="52">Cleveland Browns</option>
      <option value="53">Dallas Cowboys</option>
      <option value="54">Denver Broncos</option>
      <option value="55">Detroit Lions</option>
      <option value="56">Green Bay Packers</option>
      <option value="57">Houston Texans</option>
      <option value="58">Indianapolis Colts</option>
      <option value="59">Jacksonville Jaguars</option>
      <option value="60">Kansas City Chiefs</option>
      <option value="61">Miami Dolphins</option>
      <option value="62">Minnesota Vikings</option>
      <option value="63">New England Patriots</option>
      <option value="64">New Orleans Saints</option>
      <option value="65">New York Giants</option>
      <option value="66">New York Jets</option>
      <option value="67">Oakland Raiders</option>
      <option value="68">Philadelphia Eagles</option>
      <option value="69">Pittsburgh Steelers</option>
      <option value="70">San Diego Chargers</option>
      <option value="71">San Francisco 49ers</option>
      <option value="72">Seattle Seahawks</option>
      <option value="73">St. Louis Rams</option>
      <option value="74">Tampa Bay Buccaneers</option>
      <option value="75">Tennessee Titans</option>
      <option value="76">Washington Redskins</option>
    </optgroup>
    <optgroup label="SEC">
      <option value="74">University of Florida</option>
      <option value="75">University of Georgia</option>
      <option value="76">University of Kentucky</option>
      <option value="77">University of Missouri</option>
      <option value="78">University of South Carolina</option>
      <option value="79">University of Tennessee</option>
      <option value="80">Vanderbilt University</option>
      <option value="81">University of Alabama</option>
      <option value="82">University of Arkansas</option>
      <option value="83">Auburn University</option>
      <option value="84">Louisiana State University</option>
      <option value="85">University of Mississippi</option>
      <option value="86">Mississippi State University</option>
      <option value="87">Texas A&M University</option>
    </optgroup>
  </select>
  <input type="submit" value="SUBMIT">
</form>
