/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body, h1, h2, nav, a, section,
header, ul, li, img, p, input, button, main,
form {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;

 background: transparent;

 font: inherit;
 text-align: inherit;
 text-decoration: inherit;
 color: inherit;
}

ul {
 list-style: none;
}

/*clear fix*/

.group:after {
 content: "";
 display: block;
 clear: both;
}

// header
#logo {
  border: 2px solid #222;
  width: 65px;
  height: 65px;
  background-image: image_url('logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
  border-radius: 50%;
}

.header-icon {
  width: 40px;
  padding: 5px;
  cursor: pointer;
}

nav {
  width: 270px;
  height: 50px;
  margin: auto;
  z-index: 5;
}

.nav-ul {
  height: 50px;
}

header {
  background: #222;
  position: relative;
  width: 100%;
  height: 50px;
  z-index: 5;
}

.nav-ul li {
  position: relative;
  float: left;
  z-index: 5;
  display: block;
  cursor: pointer;
}

.nav-ul li:hover > img {
  background: #c3c3c3;
}

.nav-ul li:hover > .dropdown {
  display: block;
}

.dropdown {
  padding-top: 12px;
  display: none;
  z-index: 6;
  position: absolute;
}

.dropdown li {
  background: #ddd;
  float: none;
}

.logo {
  float: left;
  width: 30px;
  height: 30px;
}

.logo:hover {
  background: #aaaaaa;
  cursor: pointer;
}

.white {
  width: 60px;
  height: 30px;
  float: left;
}

#map-canvas {
  position: relative;
  height: 500px;
  width: calc(60%);
  margin: auto;
  float: left;
}

#active-bars {
  float: left;
  width: 30%;
  height: 500px;
  border: 1px solid black;
  overflow: scroll;
}

#active-bars li {
  border: 1px solid black;
}

#active-bars li:hover {
  background: #eee;
}

.b10_logos, .NFL_logos, .MLB_logos {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
  margin: auto;
  background: #eeeeee;
  transition: top 1.5s;
}

.b10_logos {
  width: 480px;
}

.NFL_logos {
  width: 1020px;
}

.MLB_logos {
  width: 960px;
}

.logo_group {
  position: relative;
  height: 50px;
}

.show {
  z-index: 2;
  top: 5px;
  transition: top 1.5s;
}

// search box

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  top: 10px;
}

#pac-input:focus {
  border-color: #4d90fe;
}
